
kube-prometheus-stack:
  grafana:
    enabled: true

    sidecar:
      datasources:
        enabled: true
        defaultDatasourceEnabled: true 

  prometheus:
    enabled: true
    prometheusSpec:
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false

loki-stack:
  loki:
    enabled: true
    isDefault: false   
  promtail:
    enabled: true
    config:
      clients:
        - url: http://monitoring-stack-loki:3100/loki/api/v1/push