apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        env:
        - name: COLLECTOR_ZIPKIN_HOST_PORT
          value: ":9411"
        ports:
        - containerPort: 16686 # UI
        - containerPort: 14268 # Collector
        - containerPort: 9411  # Zipkin Protocol
---
apiVersion: v1
kind: Service
metadata:
  name: tracing
  labels:
    app: jaeger
spec:
  ports:
  - name: http-query
    port: 80
    targetPort: 16686
  - name: zipkin
    port: 9411
    targetPort: 9411
  selector:
    app: jaeger