# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
image:
  repository: ahmedbenrejeb0/backend
  tag: 349edb1e8191cdd308c10ef60c9b9bd375fa32f7
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local