# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70
image:
  repository: ahmedbenrejeb0/backend
  tag: 4c578ca0d93399e57095dd8fd10d13dd43c7fa3d
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local