# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
image:
  repository: ahmedbenrejeb0/backend
  tag: 8c8f46537ccee4e5fb326769ed69a81b4571b709
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local