# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
image:
  repository: ahmedbenrejeb0/backend
  tag: d275b380ab70d8fef6e088e92a085fe8bae259e0
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local