name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'charts/**'  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
 
 
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/backend:latest
            ${{ secrets.DOCKER_USERNAME }}/backend:${{ github.sha }}

      - name: Update Helm Values
        run: |
          git config user.name "GitHub Actions Robot"
          git config user.email "actions@github.com"

  
          sed -i "s|tag: .*|tag: ${{ github.sha }}|g" charts/social-game/values.yaml


          git add charts/social-game/values.yaml
          git commit -m "Update image tag to ${{ github.sha }}"
          git push